<header id="header1">

    <input type="checkbox" id="btn-menu">
    <label for="btn-menu"><img src="../../../assets/barra/menu.png" alt=""></label>
    <nav class="menu">
    
    <ul>
      <a href="#carouselExampleIndicators"><img src="../../../assets/redes/logo-footer.png" alt=""></a>
      <li><strong><a routerLink="/login"href="">Iniciar Sesion</a></strong></li>
      <li><strong><a href="/register" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Registrate</a></strong></li>
      <li><strong><a href="#contact">Contacto</a></strong></li>
    </ul>
    
    
    </nav>
    
    </header>

<div class="temp"></div>
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

<div class="of1">
    <section class="pribg">
        <div class="col-lg-6 offset-3 pt-5">
            <form class="form-inline Up-bac">
                <legend class="legend__text">¡Busca el mejor proyecto para ti!</legend>
                <input class="form-control mr-sm-2 Up-bac" type="search" placeholder="Search" aria-label="Buscar"><br>
                <div class="mx-auto" style="width: 3rem;">
                    <input  type="submit" class="newsletter__submit" value="Buscar Proyecto">
                </div>
            </form>
        </div>

        <div class="hero__wave" style="overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
        
    </section>

    <section class="container about">
        <h2 class="subtitle"> <span class="point">¿</span>Que te ofrece esta pàgina<span class="point">?</span></h2>
        <p class="about__paragraph">Somos una compañia constituida legalmente que busca la incentivaciòn cada  dìa por mejorar la calidad de vida de nuestros clientes y adicional a ello promover el trabajo de miles de personas en el paìs que estàn en bùsqueda de una nueva oportunidad laboral.</p>

        <div class="about__main">
            <article class="about__icons">
            <i class='bx bx-briefcase'></i>
            <h3 class="about__title">Empleo</h3>
            <p class="about__paragraph">Desde Mano de Trabajo siempre hemos querido promover estas iniciativas porque consideramos que, si bien muchos no tienen ninguna experiencia formal, lo compensan su buena actitud y la experiencia empírica en proyectos personales o cursos que han realizado por su cuenta. </p>
            </article>

            <article class="about__icons">
                <i class='bx bx-user-voice'></i>
                <h3 class="about__title">Servicio al Cliente</h3>
                <p class="about__paragraph">Para Mano de Trabajo, es de vital importancia  brindar todo el asesoramiento a tu nuestro cliente, antes, durante y después del servicio. Sostener una relaciòn directa y ser el apoyo que necesitan a la hora que requieran de nuestros servicios o el de nuestros colaboradores.</p>
            </article>
                
            <article class="about__icons">
                <i class='bx bx-radar'></i>
                <h3 class="about__title">Seguridad</h3>
                <p class="about__paragraph">Mano de Trabajo, diseña sus plataformas considerando la seguridad como su núcleo. Aprovechando su experiencia al crear paginas web con los estandares màs amplios de seguridad en el medio. Mano de Trabajo se compromete a proteger a los clientes y su informaciòn financiera.</p>
            </article>
        </div>
    </section>
    <section class="email container container--modifier">
        <h2 class="subtitles subtitle--modifier">Clientes y colaboradores satisfechos<span class="point">.</span></h2>
        <p class="copy__section copy__section--modifier">Cientos de clientes confian en nosotros.</p>

        <div class="check">
            <div class="check__item">
                <i class='bx bx-check'></i>
                <div class="check__numbers">
                    <p class="check__number">+200</p>
                    <p class="check__copy">Vacantes ambiciosas.</p>
                </div>
            </div>
            <div class="check__item">
                <i class='bx bx-user-check'></i>
                <div class="check__numbers">
                    <p class="check__number">+100</p>
                    <p class="check__copy">Colaboradores de confianza.</p>
                </div>
            </div>
            <div class="check__item">
                <i class='bx bx-list-check'></i>
                <div class="check__numbers">
                    <p class="check__number">+300</p>
                    <p class="check__copy">Contratos firmados.</p>
                </div>
            </div>
        </div>
    </section>    
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]='productForm' class="m-3" (ngSubmit)="Registrar()" >
            <div class="mb-3">
                <input type="text" class="form-control form-control-lg" formControlName="nombre" placeholder="Nombre">
                <div class="text-danger" 
                *ngIf="productForm.get('nombre')?.hasError('required') && productForm.get('nombre')?.touched">
                  <span>El nombre <strong>Es obligatorio</strong></span>
                </div>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control form-control-lg" formControlName="apellido" placeholder="Apellido" >
                <div class="text-danger"
                *ngIf="productForm.get('apellido')?.hasError('required') && productForm.get('apellido')?.touched">                           
                <span>El Apellido <strong>Es obligatorio</strong></span>
                </div>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control form-control-lg" formControlName="Correo" placeholder="Correo" >
                <div class="text-danger"
                *ngIf="productForm.get('Correo')?.hasError('required') && productForm.get('Correo')?.touched">                            
                <span>Correo <strong> Es obligatorio</strong></span>
                </div>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control form-control-lg" formControlName="telefono" placeholder="Telefono" >
                <div class="text-danger"
                *ngIf="productForm.get('telefono')?.hasError('required') && productForm.get('telefono')?.touched">                            
                <span>El número de telefono <strong> Es obligatorio</strong></span>
                </div>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control form-control-lg" formControlName="contraseña" placeholder="Contraseña" >
                <div class="text-danger"
                *ngIf="productForm.get('contraseña')?.hasError('required') && productForm.get('contraseña')?.touched">                            
                <span>La Contraseña <strong> Es obligatoria</strong></span>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button"class="btn btn-secondary btn-lg float-start" data-bs-dismiss="modal">VOLVER</button>
                <button type="submit" [disabled]="productForm.invalid" class="btn btn-success btn-lg float-end">REGISTRAR</button>
            </div>            
        </form>
      </div>
    </div>
  </div>

