<header class="temp Up-bac">
    <h1 class="text-center Up-bac">Aqui va el header</h1>
</header>
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

<div class="of1">
    <section class="pribg">
        <div class="col-lg-6 offset-3 pt-5">
            <form class="form-inline Up-bac">
                <legend class="legend__text">¡Busca el mejor proyecto para ti!</legend>
                <input class="form-control mr-sm-2 Up-bac" type="search" placeholder="Search" aria-label="Buscar"><br>
                <div class="mx-auto" style="width: 3rem;">
                    <input type="submit" class="newsletter__submit" value="Buscar Proyecto">
                </div>
            </form>
        </div>

        <div class="hero__wave" style="overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
        
    </section>

    <section class="container about">
        <h2 class="subtitle">¿Que te ofrece esta pàgina?</h2>
        <p class="about__paragraph">Somos una compañia constituida legalmente que busca la incentivaciòn cada  dìa por mejorar la calidad de vida de nuestros clientes y adicional a ello promover el trabajo de miles de personas en el paìs que estàn en bùsqueda de una nueva oportunidad laboral.</p>

        <div class="about__main">
            <article class="about__icons">
            <i class='bx bx-briefcase'></i>
            <h3 class="about__title">Empleo</h3>
            <p class="about__paragraph">Desde Mano de Trabajo siempre hemos querido promover estas iniciativas porque consideramos que, si bien muchos no tienen ninguna experiencia formal, lo compensan su buena actitud y la experiencia empírica en proyectos personales o cursos que han realizado por su cuenta. </p>
            </article>

            <article class="about__icons">
                <i class='bx bx-user-voice'></i>
                <h3 class="about__title">Servicio al Cliente</h3>
                <p class="about__paragraph">Para Mano de Trabajo, es de vital importancia  brindar todo el asesoramiento a tu nuestro cliente, antes, durante y después del servicio. Sostener una relaciòn directa y ser el apoyo que necesitan a la hora que requieran de nuestros servicios o el de nuestros colaboradores.</p>
            </article>
                
            <article class="about__icons">
                <i class='bx bx-radar'></i>
                <h3 class="about__title">Seguridad</h3>
                <p class="about__paragraph">Mano de Trabajo, diseña sus plataformas considerando la seguridad como su núcleo. Aprovechando su experiencia al crear paginas web con los estandares màs amplios de seguridad en el medio. Mano de Trabajo se compromete a proteger a los clientes y su informaciòn financiera.</p>
            </article>
        </div>
    </section>    
</div>
