<header>

    <input type="checkbox" id="btn-menu">
    <label for="btn-menu"><img src="../../../assets/barra/menu.png" alt=""></label>
    <nav class="menu">
    
    <ul>
      <a href="#carouselExampleIndicators"><img src="../../../assets/redes/logo-footer.png" alt=""></a>
      <li><strong><a >Nosotros</a></strong></li>
      <li><strong><a routerLink="/home" href="#offers-btn"> Buscar ofertas</a></strong></li>
      <li><strong><a routerLink="/Perfilempleador"href="">Mi perfil</a></strong></li>
      <li><strong><a href="/">Salir</a></strong></li>
    </ul>
    
    
    </nav>
    
</header>   
  
<div class="temp"></div>
<section class="sectionp">
    <div class="cleft bacbground-primary p-5">

        <div class="card">
            <img class="card-img-top p-2"
                src="../../../assets/Perfilles/perfilempleador.jpg"
                alt="Card image cap" />
        </div>


        <ul class="list-group">
            <li class="list-group-item">
              <p class="card-text"><br>Soy desarrollador web full-stack, siempre requiero apoyo para las labores de la casa ya que no dispongo de tiempo para hacerlas yo mismo.</p>
              <a class="editbt" href='add link here' alt='Buy Tickets'><i class="fa-solid fa-pen-to-square"></i></a>
            </li>
            <li class="list-group-item">Nombre <h4>Julian Hernandez</h4><a class="editbt" href='add link here' alt='Buy Tickets'><i class="fa-solid fa-pen-to-square"></i></a></li>
            <li class="list-group-item">Ubicación <h4>Bogotá D.C.</h4><a class="editbt" href='add link here' alt='Buy Tickets'><i class="fa-solid fa-pen-to-square"></i></a></li>
            <li class="list-group-item">Direccon de residencia <h4>Cr 118a # 65 -58</h4><a class="editbt" href='add link here' alt='Buy Tickets'><i class="fa-solid fa-pen-to-square"></i></a></li>
            <li class="list-group-item">Telefono <h4>3156600106</h4><a class="editbt" href='add link here' alt='Buy Tickets'><i class="fa-solid fa-pen-to-square"></i></a></li>
            <li class="list-group-item">Documento <h4>1010241874</h4><a class="editbt" href='add link here' alt='Buy Tickets'><i class="fa-solid fa-pen-to-square"></i></a></li>
            <li class="list-group-item">Contacto de Emergencia <h4>Cristian Ortiz</h4>Tel: 321568956<a class="editbt" href='add link here' alt='Buy Tickets'><i class="fa-solid fa-pen-to-square"></i></a></li>
            <li class="list-group-item">Metodos de pago <br><br><button (click)="metodosdepago()" class="btn btn-info">Mostrar</button></li>
          </ul>

    </div>
    <div class="row"> 

        <h1 class="text-center">Detalles del Servicio</h1>
        <div class="card pb-5">
            <div class="card-body">
                <h4 class="card-title">Mecanico automotriz</h4>
                <p class="card-text">Perfil de persona natural con conocimiento avanzado en mecanica
                    automotriz a nivel general, con experiencia, en motores diesel y a gasolina, transmiciones
                    mecanicas y automaticas, radiadores, direcciones, ejes y sistema electrico. A la cual se
                    contrata por prestacion de servicios, por el tiempo total de 7 dias para desempeñar sus labores
                    y dar solucion a los requerimiento que necesita el cliente con la reparacion de su
                    vehiculo.<br><br>
                    </p><hr size="5">
                    <p><strong>Empleado:</strong> Jhoan Ramirez </p><hr size="5">
                    <p><strong>Documento:</strong> 53459671</p><hr size="5">
                    <p><strong>Telefono:</strong> 3158462358</p><hr size="5">
                    <p><strong>Ubicación:</strong> Bogotá</p><hr size="5">
                    <p><strong>Direccion de residencia:</strong> Cra 98 #67-10 Bogotá</p><hr size="5">
                    <p><strong>Tipo de contrato:</strong> Prestacion de servicios</p><hr size="5">
                    <p><strong>Duracion del contrato:</strong> 7 dias</p><hr size="5"> 
                    <p><strong>Pago:</strong> COP 485.000 al finalizar el contrato</p><hr size="5"><br>
                    <h4 class="card-title">Contacto referencia</h4> <br>
                    <p><strong>Ocupación:</strong> Contador<hr size="5">
                    <p><strong>Nombre:</strong> Pablo Gutierrez </p><hr size="5">
                    <p><strong>Documento:</strong> 53459671</p><hr size="5">
                    <p><strong>Telefono:</strong> 3158462358</p><hr size="5">
                    <p><strong>Ubicación:</strong> Bogotá</p><hr size="5">
                    <p><strong>Direccion de residencia:</strong> Cra 98 #67-10</p><hr size="5">
                    <p><strong>Telefono de trabajo:</strong> 31584623</p><hr size="5">
                    <p><strong>Direccion de trabajo:</strong> Cra 99 #15-52, Bogotá</p><hr size="5">


                <br><br>
                <a href="#" class="btn btn-primary">Descargar Contrato</a>
            </div>
        </div>