<main>
<section>
    <h1 id="empleado">Empleado</h1>
<form id="form">
    <div role="button" id="cierre"><img src="../../../assets/login/empleado.png" alt=""></div>
    
    <h2 id="d">Iniciar sesión</h2>
    <br>
    <h4 class="text">Correo</h4>
    <input type="text" name="Correo" placeholder="Example@gmail.com">
    <br>
    <br>

    <h4 class="text" >Contraseña</h4>
    <input   name="Contaseña" placeholder="xxxxxxxx" type="password">
    
    
    <br><br>
    
    
    <a href="alerta" onclick="ingresar()" type="button"><strong>Ingresar</strong></a>
    <br><br>
    
    <h3 class="text2"><a href="" >¿Olvidó su Contraseña?</a></h3>
    <h3 class="text2"><a href="" >Regístrese Aquí</a></h3>
    
    </form>

</section>

<section id="section2">
    <h1 id="empleador">Empleador</h1>
    <form id="form2">
        <div role="button" id="cierre"><img src="../../../assets/login/empleador.png" alt=""></div>
        
        <h2 id="d">Iniciar sesión</h2>
        <br>
        <h4 class="text">Correo</h4>
        <input type="text" name="Correo" placeholder="Example@gmail.com">
        <br>
        <br>
    
        <h4 class="text" >Contraseña</h4>
        <input   name="Contaseña" placeholder="xxxxxxxx" type="password">
        
        
        <br><br>
        
        
        <a href="alerta" onclick="ingresar()" type="button"><strong>Ingresar</strong></a>
        <br><br>
        
        <h3 class="text2"><a href="" >¿Olvidó su Contraseña?</a></h3>
        <h3 class="text2"><a href="" >Regístrese Aquí</a></h3>
        
        </form>
    
    </section>


</main>