<div class="container m-5">
    <div class="row">
        <div class=" col-lg-4 offset-4">
            <div class="card box1">
                <div class="card-body text-white">
                    <div class="mb-3 float-end volverbtn">
                        <a routerLink="/" class="float-end"><i class="fa-solid fa-circle-xmark"></i></a>
                    </div>
                    <h1>Iniciar Sesion</h1>                        
                    <p>¡Muchas personas por conocer!</p>
                    <form [formGroup]='productForm' class="m-3" (ngSubmit)="login()" >
                        <div class="mb-3">
                            <h5 class="text-dark">Correo</h5>
                            <input type="text" class="form-control form-control-lg" formControlName="Correo" placeholder="Example@email.com" >
                            <div class="text-danger"
                            *ngIf="productForm.get('Correo')?.hasError('required') && productForm.get('Correo')?.touched">                            
                            <span>Correo <strong> Es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <h5 class="text-dark">Contraseña</h5>
                            <input type="password" class="form-control form-control-lg" formControlName="contraseña" placeholder="***" >
                            <div class="text-danger"
                            *ngIf="productForm.get('contraseña')?.hasError('required') && productForm.get('contraseña')?.touched">                            
                            <span>La Contraseña <strong> Es obligatoria</strong></span>
                          </div>
                        </div>

                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>