/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "TITLE";
    src: url(../src/assets/FUENTES/aremat.ttf);   
}
@font-face {
    font-family: "BODY";
    src: url(../src/assets/FUENTES/GOTHIC.TTF);  
}



body{
    margin: 0;
    padding: 0;
    
}


header{
    padding: 25px 0 25px 0 ;
    width: 100%;
    background-color: white;
    border-bottom: 5px solid #56008c;
    z-index: 10;
    position: fixed;

    
}
#btn-menu{
    display: none;
}
header label{

    display: block;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-right: 1px solid white;
    background-color: #56008c;
    display: none;
}

header label:hover{

    cursor: pointer;
    background-color: #329b93;
}
.menu ul img{

    background-color: blac;
    padding: 0;
    margin: -1.5% 0px 0 -50% ;
    height: 120px;
    display: block;
    justify-content:flex-end;
    z-index: 2;
    position:absolute;
    
}
.menu ul{
background-color: re;
margin: 0;
list-style: none;
padding: 0;
display: flex;
justify-content: flex-end;


}

.menu li a{
    display: block;
    padding: 5px 30px;
    transition: 0.5s;
    transition: all 1s;
    margin: 0 15px 0 5px;
    color: black;
    border-radius: 25px;
    text-decoration: none;
    font-family: TITLE;
}

.menu li a:hover{

    background-color:#56008c;
    color: white;

}






    